[Desktop Entry]
Encoding=UTF-8
Name=QRLauncher
GenericName= QRLauncher
Comment= Reads QR codes and opens the contents, typically with a browser
Exec=qrl -- %F
TryExec=qrl
MimeType=application/vnd.bzdev.qrlauncher-config;image/vnd.wap.wbmp;image/png;image/jpeg;image/bmp;image/gif;
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/QRLauncher.svg
Categories=Utility;
StartupNotify=false
Actions=create;decode;show;query;help

[Desktop Action create]
Name = New QR Code
Exec = qrl -g

[Desktop Action decode]
Name = Decode QR Code
Exec = qrl -n

[Desktop Action show]
Name = Show Headers
Exec = qrl -H

[Desktop Action query]
Name = Ask before opening
Exec = qrl -q

[Desktop Action help]
Name = Display Help
Exec = qrl --help
